.post-title{
    color: $brand-color
}

.site-title{
    color: $brand-color
}


.site-nav{
    .page-link{
        padding: 1px 10px;
        margin-right: 0px;
        display: inline-block;
        height: 100%;
        
        &:not(:last-child){
            margin-right: 0px; 
        }
        
    }

    .active-page{
        color: lighten($brand-color,5%);
        background-color: $grey-color-light;
        display: inline-block;
        padding: 1px 10px;
        margin-right: 0 px;
        height: 100%;
    }
}


.project-card{
    background-color:$grey-color-light;
    display: flex;
    align-items: stretch;
    border: 2px solid $brand-color;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 4px 4px;
    gap: 20px;
    height: 200px;
    width: 100%;
    opacity: 0.6;
    
    h3{
        color: $brand-color;
    }

    .project-image-containter{
        order: 1;
        flex: 0 0 150px;
        display: flex;
        border-color: $brand-color;
        justify-content:center;
    }

    .project-info{
        flex: 1;
        order: 2;
    }

    img{
        border-radius: 10px;
        overflow: hidden;
        border: 1px;
        height: 200px;
        widht: 200px;
        object-fit: hidden;
    }
}

.project-card:hover{
    transform: scale(1.05);
    opacity: 1;
}
